<nav aria-label="Top Toolbar" class="lars-topbar">
    <div class="lars-topbar-dragzone">
        <div class="lars-topbar-item">
            <img class="lars-logo" src="lars://icons/favicon.ico" alt="LARS">
            <span class="lars-logo-label">LARS</span>
        </div>
    </div>
    <div class="lars-topbar-controls">
        @for (extra of extraButtons; track $index) {
            <button
                mat-button
                [class.no-content-gap]="!extra.textContent"
                (click)="extra.action()"
                [attr.aria-label]="extra.ariaLabel"
            >
                @if (extra.icon) {
                    <mat-icon>{{ extra.icon }}</mat-icon>
                }
                @if (extra.textContent; as text) {
                    <span>{{ text }}</span>
                }
            </button>
        }
        @for (button of windowControlButtons; track $index) {
            <button
                mat-button
                (click)="button.action()"
                class="no-content-gap"
                role="button"
                [attr.aria-label]="button.ariaLabel">
                <mat-icon>{{ button.icon }}</mat-icon>
            </button>
        }
    </div>
</nav>
