{
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "proseWrap": "preserve",
  "bracketSameLine": true,
  "experimentalTernaries": true,
  "printWidth": 120
}
